<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <form method="post">
          {% csrf_token %}
          <h2>Login</h2>
          <label for="username">UserName :</label>
          <input type="text" name="username" placeholder="Username"><br>
          <label for="password">Password :</label>
          <input type="password" name="password" placeholder="Passord">
          <input type="submit" name="" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
